:root {
    --background: url("https://media1.giphy.com/media/BTV1vUcOWht2U/giphy.gif");
    --backgroundsize: cover;
    --backgroundposition: center;
}

html, body, #app-mount {
    background-image: var(--background) !important;
    background-size: var(--backgroundsize) !important;
    background-position: var(--backgroundposition) !important;
    background-repeat: no-repeat !important;
}
